/* Reset default margin and padding, then apply border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
